APP_ENV=development
APP_PORT=8080
APP_BASE_URL=http://localhost:8080
DATABASE_URL=sqlite:///./kyc_test_bot.db
TEST_PROFILES_FILE=./profiles.json

# Replace with your Persona sandbox credentials.
PERSONA_API_KEY=NONE
PERSONA_TEMPLATE_ID=NONE
PERSONA_BASE_URL=https://withpersona.com/api/v1
PERSONA_WEBHOOK_SECRET=NONE
ALWAYS_SUCCESS_MODE=true
AUTO_COMPLETE_ON_START=true
